[gcode_macro _CLOSE_PROMPT_CHECK_FILAMENT_SENSOR]
gcode:
    RESPOND TYPE=echo MSG="Desarga y carga filamento con las macros"
    RESPOND TYPE=command MSG="action:prompt_end"

[gcode_macro _FILAMENT_SENSOR]
description: "Controla el estado del sensor de filamento"
gcode:
  PAUSE
  RESPOND TYPE=command MSG="action:prompt_begin Filamento agotado"
  RESPOND TYPE=command MSG="action:prompt_text ¡El filamento se ha agotado!"
  RESPOND TYPE=command MSG="action:prompt_footer_button Continuar|_CLOSE_PROMPT_CHECK_FILAMENT_SENSOR"
  RESPOND TYPE=command MSG="action:prompt_show"

[gcode_macro CLEAN_NOZZLE]
description: "Limpia la boquilla con una escobilla"
gcode:
{% if "x" not in printer.toolhead.homed_axes or "y" not in printer.toolhead.homed_axes or "z" not in printer.toolhead.homed_axes %}
      {% if printer.print_stats.state != "printing" %}
        G28  ; Home si no está imprimiendo
      {% else %}
        RESPOND TYPE=command MSG="Ejes no nivelados"
        CANCEL
      {% endif %}
    {% endif %}
  M83                     ; Poner el extrusor en modo relativo
  G92 E0.0                ; Resetear el extrusor a posición cero    
  {% for i in range(3) %} ; bucle 3 veces
    G1 X250 F3000         ; Frota la boquilla contra la escobilla
    G1 X240 F3000
  {% endfor %}
  G1 X250 F3000
  G1 E-2 F400             ; Hace una pequeña retracción para evitar goteo
  G92 E0.0                ; Resetear el extrusor otra vez
  M82                     ; Volver a modo absoluto
  RESPOND TYPE=command MSG="Limpieza de boquilla completada."

[gcode_macro FILAMENT_UNLOAD]
description: "Descarga de filamento"
gcode:
    {% if "x" not in printer.toolhead.homed_axes or "y" not in printer.toolhead.homed_axes or "z" not in printer.toolhead.homed_axes %}
      {% if printer.print_stats.state != "printing" %}
        G28  ; Home si no está imprimiendo
      {% else %}
        RESPOND TYPE=command MSG="Ejes no nivelados"
        CANCEL
      {% endif %}
    {% endif %}

    SAVE_GCODE_STATE NAME=load_state

    {% if printer.extruder.temperature < 170 %}
      M109 S200
    {% endif %}

    # Subir Z para evitar colisiones
    G91
    G1 Z10 F600
    G90

    # Mover el cabezal fuera del área de impresión
    G1 X230 F3000    

    M83
    G92 E0
    G1 E2 F200
    G1 E-80 F120
    G4 P500   ; Pequeña espera para estabilidad

    G92 E0
    M82
    RESPOND TYPE=command MSG="Filamento descargado"

    RESTORE_GCODE_STATE NAME=load_state

[gcode_macro FILAMENT_LOAD]
description: "Carga de filamento"
gcode:
    {% if "x" not in printer.toolhead.homed_axes or "y" not in printer.toolhead.homed_axes or "z" not in printer.toolhead.homed_axes %}
      {% if printer.print_stats.state != "printing" %}
        G28  ; Home si no está imprimiendo
      {% else %}
        RESPOND TYPE=command MSG="Ejes no nivelados"
        CANCEL
      {% endif %}
    {% endif %}

    SAVE_GCODE_STATE NAME=load_state

    {% if printer.extruder.temperature < 170 %}
      M109 S200
    {% endif %}

    G90
    G1 X230 F3000
    CLEAN_NOZZLE
    RESPOND TYPE=command MSG="Filamento Cargado"

    RESTORE_GCODE_STATE NAME=load_state